<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Beddercare, <%= @user.name %></h1>
    <p>
      You have received a video chat request. Please click the link below to join the chatroom and chat with your Beddercare Assisted Living Resident.<br/>
    </p>
    <p>
      Click the link on a desktop Chrome or Firefox browser <br/><%= @url %>
    </p>
    <p>Have a Bedder day!</p>
  </body>
</html>