<div class="box panel panel-default">
   <blockquote>
     <p><span class="label label-default">Video</span>&nbsp;Art</p>
 </blockquote>
 <div class="panel-footer center">
  <div class="btn-group">
      <span class="glyphicon glyphicon-facetime-video btn btn-default"></span> 
  </div>
</div>
</div>

<div class="box panel panel-default">
   <blockquote>
     <p><span class="label label-default">Video</span>&nbsp;Jerry</p>
 </blockquote>
 <div class="panel-footer center">
  <div class="btn-group">
      <span class="glyphicon glyphicon-facetime-video btn btn-default"></span> 
  </div>
</div>
</div>